# Python
venv/
__pycache__/
*.pyc

# Test files
backend/test.py
backend/test_models.py

# Test files
backend/test.py
backend/test_models.py

# Environment variables
.env
.env.*
# Node
node_modules/
dist/

# Uploads
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
# Firebase service account
backend/firebase-service-account.json
